$page-title-font-size: 48px;
$base-font-size: 18px;
$caption-font-size: 14px;

$base-line-height: 1.666;

$font-family-sans-serif: "Inria Sans", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
$font-family-serif: "Inria Serif", "Georgia", "serif";

$color-body-text: #444444;
$color-headings: #222222;
$color-captions: #999999;

$color-primary: #e23b47;
$color-primary-lightest: #fadee0;

$color-secondary: #8cb389;
$color-secondary-lightest: #d2e2d1;
